.thumbnail{
    background-image: url("../../assets/images/black_guy.png");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card p{
    color: var(--subheading-color);
}
.price{
    font-family: "PPFrama","Poppins",sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.icons img{
    background-color: rgba(255, 255, 255, 0.679);
    transition: all 0.3s ease-in-out;
}

.icons img.cart{
    background-color: #0055ffce;
}

.card{
    height: 500px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.02);
    background-color: #e6edff;
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1);
    outline: 2px solid #dee8ff;
}

.num-courses {
    border: 2px solid #0c24436d;
    border-radius: 24px;
    width: 50%;
    display: flex;
    gap: 4px;
    padding: 6px 8px;
    align-items: center;
    justify-content: center;

}

.teacher-img{
    background-size: cover;
    background-position: center;
}

@keyframes heart-bounce {
  0% { transform: scale(1); }
  30% { transform: scale(1.2) rotate(-5deg); }
  60% { transform: scale(1.2) rotate(5deg); }
  100% { transform: scale(1); }
}

.heart-bounce {
  animation: heart-bounce 0.4s ease;
}