.domain-card{
    background-color: #D3D5F8;
    border: solid 2px #006efdae;
    padding: 8px 22px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.selected{
    background-color: #0055FF;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.domain-card:hover:not(.selected){
    background-color: #CCCEED;
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}