.description-btn.clicked svg{
    transform: rotate(90deg);

}

textarea:focus{
    outline: none;
}
.lesson li{
    padding: 16px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.lesson li:hover{
    background-color: #dbebff;
}

.selected-course{
    background-color: #b7b6ff74;
}
.selected-course:hover{
    background-color: #b7b6ff74!important
}

.selected-course div{
    background-color: #3531ff;
}

.overlay-course-page{
    background-color: rgba(0, 0, 0, 0.229);
}

.completed-anim{
    animation: anim 0.6s ease-in-out forwards;
}

@keyframes anim {
    0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}