.content-text{
    color: var(--subheading-color);
}

.reviewer{
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}