.why-us {
  background: linear-gradient(to bottom, white 0%,white 30%, #dbebff 60%);
  height: 100vh;
}



.scroll-image{
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    border: solid 2px #ccc;

}

.scrolling-wrapper{
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    
    100% { transform: translateY(-100%); }
}

.scrolling-wrapper2{
    animation: scroll2 20s linear infinite;
}
@keyframes scroll2 {
    
    0%   { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}
.auto-scroll::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 50;

  pointer-events: none;

  background: linear-gradient(
    to bottom,
    #dbebff 0%,
    rgba(219, 235, 255, 0) 20%,
    rgba(219, 235, 255, 0) 80%,
    #dbebff 100%
  );
}
